body{
    background-color: rgb(70, 76, 79);
}
.background{
    width: 30%;
    height:790px;
    background: rgb(3, 17, 15);
    position: absolute ;
    top: 0%;
    left: 0%;
}

.background2{
    width: 30%;
    height:395px;
    background: rgb(3, 17, 15);
    position: absolute ;
    top: 50%;
    left: 0%;
}

.background3{
    width: 35%;
    height:600px;
    background:  rgb(22, 23, 21);
    position: absolute ;
    top: 0%;
    left: 65%;
}

.background4{
    width: 35%;
    height:600px;
    background: rgb(22, 23, 21);
    position: absolute ;
    top: 0%;
    left: 30%;
}

.background .Fondo{
    width: 30%;
    height: 15%;
    position: absolute ;
    top: 0%;
    left: 5%;
}
.background .Fondo .puente{
    color: #ebe6df;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 48px;
    
    
}

.Titulo{
    color: #ebe6df;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 48px;
    text-align:center;
}

.About{
    color: #ebe6df;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
}

.background2 .Fondo2{
    width: 80%;
    height: 15%;
    position: absolute ;
    top: 0%;
    left: 2.5%;
}

.background4 .Fondo4{
    width: 90%;
    height: 15%;
    position: absolute ;
    top: 0%;
    left: 2.5%;
}
.background3 .Fondo3{
    width: 90%;
    height: 15%;
    position: absolute ;
    top: 0%;
    left: 5%;
}

.background2 .Fondo2 .estilo{
    
    color: #bc7d12;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: justificado;
    font-size: 20px;
    
}

span {
    color: rgb(255, 0, 25);
}

h1{
    color: #bc7d12;
}
h3{
    color: aqua;
}
.steel{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: justificado;
    font-size: 16px;
}
.contac {
    color: #ebe6df;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 20px;
}

.study {
    color: #ebe6df;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 17px;
}
.Lol {
    color: #ebe6df;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 22px;
}
.background5{
    width: 70%;
    height:205px;
    background: rgb(23, 123, 195);
    position: absolute ;
    top: 74%;
    left: 30%; 
}
